:root {
    --brown3: #582F0E;
    --brown2: #7F4F24;
    --brown1: #936639;
    --brown0: #A68A64;
    --pale: #B6AD90;
    --green4: #333D29;
    --green3: #414833;
    --green2: #656D4A;
    --green1: #A4AC86;
    --green0: #C2C5AA;
}

body {
    font-family: Helvetica;
    background-color: var(--green0);
    padding-top: 50px;
}

.header {
    text-align: left;
    font-size: 24px;
    background: var(--green2);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 10vh;
}

.pageTitle {
    background: var(--brown0);
    color: var(--green4);
    font-size: 24px;
    padding: 15px 5px;
    border: 2px solid var(--green4);
}

.infoBubble {
    background: white;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 20px;
    border: 2px solid black;
    margin: 10px;
    width: 80vw;
}

/* .bottomText {
    background: white;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: fit-content;
    font-size: 16pt;
} */

/* .backArrow {
    font-size: 50pt;
    border: 2px solid var(--green4);
    border-radius: 45px;
    height: 90px;
    width: 90px;
    color: var(--green0);
    background: var(--brown0);
    text-align: center;
    transform: rotate(180deg);
} */

/* .bottomArrow {
    color: var(--brown0);
    text-align: right;
    font-size: 80pt;
    position: absolute;
    bottom: 10px;
    right: 10px;
} */

.leftPanel {
    float: left;
    text-align: center;
    margin: 20px;
}

/* .icon {
    width: 90px;
    height: 90px;
    border: 2px solid black;
    background: white;
    border-radius: 45px;
} */

.icon img {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
}

.button1 {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    background: var(--brown1);
    top: 50%;
    transform: translate(vw, -10%);
    border-radius: 45px;
}

.button2 {
    width: 90px;
    height: 90px;
    border: 2px solid black;
    background: var(--green2);
    top: 50%;
    transform: translate(0%, 15%);
    border-radius: 45px;
}

.button3 {
    width: 90px;
    height: 90px;
    border: 2px solid black;
    background: white;
    top: 50%;
    transform: translate(0%, 15%);
    border-radius: 45px;
}

.button4 {
    width: 90px;
    height: 90px;
    border: 2px solid black;
    background: var(--brown2);
    color: white;
    top: 50%;
    transform: translate(0%, 15%);
    border-radius: 45px;
}

.setButton {
    width: 50px;
    height: 30px;
    background: white;
}