:root {
    --brown3: #582F0E;
    --brown2: #7F4F24;
    --brown1: #936639;
    --brown0: #A68A64;
    --pale: #B6AD90;
    --green4: #333D29;
    --green3: #414833;
    --green2: #656D4A;
    --green1: #A4AC86;
    --green0: #C2C5AA;
}

body {
    font-family: Helvetica;
    background-color: var(--green0);
    padding-top: 50px;
}

.header {
    text-align: center;
    background: var(--green2);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 50px;
}

.pageTitle {
    background: var(--brown0);
    color: var(--green4);
    font-size: 25pt;
    padding: 15px 5px;
    border: 2px solid var(--green4);
    margin: auto 10px;
}

.infoBubble {
    background: white;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid black;
    margin: auto 10px;
}